version: "3"
services:
#  app:
#    build: .
#    ports:
#      - "8000:8000"
#    volumes:
#      - .:/app
#    depends_on:
#      - mongo
  mongo:
    image: "mongo:latest"
    ports:
      - "27017:27017"
    volumes:
      - db:/data/db
    environment:
      MONGO_INITDB_DATABASE: recipe_app_db
volumes:
  db: